Makefile
femp
TODO
gui/build/*
moc_*
gui/ui/ui_*
gui/ui/src
gui/lalib/solvers/main.c++
gui/parsers/main.c++
gui/fem/CMakeLists.txt
gui/test/*
lex.msh_yy.*
msh.tab.*
*.oct
*.xmi
.*
*.msh
gui/parsers/how to make a ll parser.txt
